bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.Pokemon/.idea/indexLayout.xml
/.idea/.idea.Pokemon/.idea/vcs.xml
/Pokemon.sln.DotSettings.user
/.vscode/launch.json
/.vscode/tasks.json
